name: cp-svc-egress-mqtt-to-badge
services:
  app-mqtt-to-badge:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - ckc-net
    environment:
      - DOPPLER_ENVIRONMENT
      - MQTT_HOST
      - MQTT_PORT
      - SA_REGISTRATION_USERNAME
      - SA_REGISTRATION_PASSWORD
      - PG_DB_HOST
      - PG_DB_CKC_POOL_PORT
      - PG_DB_CKC_POOL
      - PG_DB_CONNECTION_LIMIT
      - PG_DB_USER
      - PG_DB_PASSWORD
      - KAFKA_BROKERS_SVC
    command: poetry run python service_translate_kafka_mqtt.py
    volumes:
      - ./service_translate_kafka_mqtt.py:/app/service_translate_kafka_mqtt.py
      - ./mqtt_publish_gate.py:/app/mqtt_publish_gate.py
      - ./mqtt_publish_payload.py:/app/mqtt_publish_payload.py
      - ./redis_db_indexes.py:/app/redis_db_indexes.py
      - ./mqtt_to_kafka:/app/mqtt_to_kafka

networks:
  ckc-net:
    external: true
